# OSX
#
.DS_Store

# IntelliJ
#
.idea
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# next.js
.next/

# Jest
#
.jest/
coverage/

dist

# webpack cache
.cache/

/__tests__/__data__

temporary_sprite/

